.cookiebanner{
    background-color: #00ADEF;
    position: relative;
    overflow: hidden;
}

.cookiebanner p {
    position: relative;
    font-size: 1.2em;
    text-align: center;
}

body{
    margin: 0px
}

#cookiede{
    display: none;
}

#cookieen{
    display: none;
}
