.cookiebanner{
    background-color: #00ADEF;
    position: relative;
    overflow: hidden;
}

.content{
   width: 950px;
   margin-left: auto;
   margin-right: auto;
   font-size: 17px; 
   text-align: left;
   color: white;
}

.content a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.content a:hover{
    text-shadow: 1px 1px grey;
}

body{
    margin: 0px
}

#cookiede{
    display: none;
}

#cookieen{
    display: none;
}

@media(max-width: 960px){
	.content{
		width:80%;
	}
}
