
#myiframe {
    width: 100%;
    max-height: 76px;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 16777271;
    vertical-align: bottom;
    overflow: hidden;
    display: block;
    transition: max-height linear 1s;
    -webkit-transition: max-height linear 1s;
    -moz-transition: max-height linear 1s;
    margin: 0;
    border: none;
}

body{
    margin:0;
}

@media (max-width: 1363px) {
    #myiframe{
        max-height: 97px;
    }
}

@media(max-width: 938px){
    #myiframe{
        max-height:118px;
    }
}

@media (max-width: 722px) {
    #myiframe{
        max-height: 139px;
    }
}

@media (max-width: 572px) {
    #myiframe{
        max-height: 160px;
        height: 160px;
    }
}

@media (max-width: 422px) {
    #myiframe{
        max-height: 202px;
        height:202px;
    }
}
@media (max-width: 346px) {
    #myiframe{
        max-height: 244px;
        height: 244px;
    }
}

